{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row" id="sing_form">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign Up</h5>
                    <form action="{{ url_for('login_usr.sign_up_user') }}" method="post"
                          class="form-signin needs-validation" novalidate>

                        <div class="form-label-group">
                            <input type="first_name" name="first_name" id="first_name" class="form-control"
                                   placeholder="First Name" required>
                            <label for="first_name">First Name</label>
                            <div class="invalid-feedback">
                                Please provide a first name.
                            </div>
                        </div>

                        <div class="form-label-group">
                            <input type="last_name" name="last_name" id="last_name" class="form-control"
                                   placeholder="Last Name" required>
                            <label for="last_name">Last Name</label>
                            <div class="invalid-feedback">
                                Please provide a last name.
                            </div>
                        </div>

                        <div class="form-label-group">
                            <input type="sign_username" name="sign_username" id="sign_username" class="form-control"
                                   placeholder="Username" required>
                            <label for="sign_username">Username</label>
                            <div class="invalid-feedback" id="usr_inv">
                                Please provide a valid username.
                            </div>
                        </div>

                        <div class="form-label-group">
                            <input type="email" name="email" id="email" class="form-control"
                                   placeholder="E-mail" required>
                            <label for="email">E-mail</label>
                            <div class="invalid-feedback">
                                Please provide an e-mail.
                            </div>
                        </div>

                        <div class="form-label-group">
                            <input type="password" name="sign_up_pass" id="sign_up_pass" class="form-control"
                                   placeholder="Password" required>
                            <label for="sign_up_pass">Password</label>
                            <div class="invalid-feedback" id="pass_inv1">
                                Please provide a valid password.
                            </div>
                        </div>

                        <div class="form-label-group">
                            <input type="password" name="repeat_pass" id="repeat_pass" class="form-control"
                                   placeholder="Repeat Password" required>
                            <label for="repeat_pass">Repeat Password</label>
                            <div class="invalid-feedback" id="pass_inv2">
                                Please repeat a password.
                            </div>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row hidden d-flex align-items-center min-vh-100" id="spinner_wait">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>


</div>
{% endblock %}